@charset "UTF-8";
.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: ' ';
    display: table; }
  .row:after {
    clear: both; }

body, .svgpker .ic_iconbox, .svgpker .ic_iconbox img, .svgpker .ic_listview .ic_list_iconbox, .svgpker .ic_listview .ic_list_iconbox img, .svgpker .ic_filter-controls {
  position: relative; }

.home_featured_icon img {
  display: block; }

.home_commit_fetcher .commit_fetcher_sha, .svgpker .ic_filter-controls, .svgpker .ic_filter-controls img, .svgpker .ic_filter-controls .ic_gridlist_toggle, .svgpker .ic_favorites_badge {
  display: inline-block; }

.home_commit_fetcher .commit_fetcher_message {
  display: inline; }

.svgpker .ic_iconbox:hover .ic_tooltip {
  visibility: visible; }

.svgpker .ic_tooltip {
  visibility: hidden; }

input, textarea, select, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

.home_ic_selector h2, .home_cat_icons .icon_holder {
  margin: 4px; }

.home_cat_icons img, .home_commit_fetcher li, .svgpker .ic_iconbox img, .svgpker .ic_listview button {
  margin-top: 4px; }

.home_carousel_container h2,
.home_fi_container h2,
.home_news_container h2, .svgpker .ic_iconbox img, .svgpker .bc_search_container,
.svgpker .ic_cattype_container,
.svgpker .pg_container,
.svgpker .ic_pg_container {
  margin-bottom: 4px; }

.home_featured_icon img {
  margin-left: auto;
  margin-right: auto; }

.modal1_container, .home_featured_icon, .home_carousel,
.header_logo_container,
.home_news_container,
footer, .home_cat_icons .icon_holder, .home_commit_fetcher, .svgpker .ic_iconbox, .svgpker .ic_listview, .svgpker .ic_listview .ic_list_iconbox, .svgpker .ic_listview .ic_list_id, .svgpker .ic_filter-controls, .svgpker .ic_favorites, .svgpker .ic_breadcrumb, .svgpker .ic_category_select, .svgpker .ic_search, .svgpker .jpages_pg, .fav_ic_iconbox {
  padding: 4px; }

.modal1_close {
  padding: 6px; }

.home_carousel_container h2,
.home_fi_container h2,
.home_news_container h2, .home_ic_selector h2, .home_commit_fetcher li {
  padding-bottom: 4px; }

.home_featured_icon img,
.home_featured_icon p, .svgpker .ic_tooltip {
  text-align: center; }

.home_carousel_container h2,
.home_fi_container h2,
.home_news_container h2, .home_ic_selector h2, .svgpker .ic_listview .ic_list_id, .svgpker .ic_favorites_badge p {
  font-weight: bold; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea, select {
  font-size: 100%;
  font-family: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*! system-font.css v1.1.0 | CC0-1.0 License | github.com/jonathantneal/system-font-face */
@font-face {
  font-family: "system_normal--300";
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: "system_italic--300";
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: "system_normal--400";
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma"); }

body {
  font-family: "system_normal--300"; }

body {
  background-color: #1e1e1e; }

.ic_container, .spreader,
.spreader2 {
  background-color: #262626; }

.home_featured_icon,
.home_commit_fetcher,
.home_cat_icons,
.home_carousel, .svgpker .ic_listview, .svgpker .ic_breadcrumb, .svgpker .bc_search_container,
.svgpker .ic_cattype_container,
.svgpker .pg_container,
.svgpker .ic_pg_container {
  background-color: #4b4b4b; }

p,
small, .svgpker .ic_search label {
  color: #d8d8d8; }

.home_cat_icons img, a {
  color: #d1d4b9; }

a:hover, .ic_favorites_badge p {
  color: #fff; }

h2 {
  color: #f5f3da; }

.ic_favorites_badge {
  background-color: #c32349; }

.modal1_container label, .home_cat_icons .icon_holder p, .svgpker .ic_iconbox .ic_toggle {
  color: #3b443f; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }

.row {
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 20em) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto; }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
  .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
  .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left; }
  .col-xs-12 {
    width: 100%; }
  .col-xs-11 {
    width: 91.66666667%; }
  .col-xs-10 {
    width: 83.33333333%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-8 {
    width: 66.66666667%; }
  .col-xs-7 {
    width: 58.33333333%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-5 {
    width: 41.66666667%; }
  .col-xs-4 {
    width: 33.33333333%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-2 {
    width: 16.66666667%; }
  .col-xs-1 {
    width: 8.33333333%; } }

@media (min-width: 30em) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto; }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
  .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
  .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left; }
  .col-xs-12 {
    width: 100%; }
  .col-xs-11 {
    width: 91.66666667%; }
  .col-xs-10 {
    width: 83.33333333%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-8 {
    width: 66.66666667%; }
  .col-xs-7 {
    width: 58.33333333%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-5 {
    width: 41.66666667%; }
  .col-xs-4 {
    width: 33.33333333%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-2 {
    width: 16.66666667%; }
  .col-xs-1 {
    width: 8.33333333%; } }

@media (min-width: 37.5em) {
  .container {
    width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 50em) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 46.25em) {
  .container {
    width: 740px;
    margin-left: auto;
    margin-right: auto; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4,
  .col-md-5, .col-md-6, .col-md-7, .col-md-8,
  .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 64em) {
  .container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4,
  .col-md-5, .col-md-6, .col-md-7, .col-md-8,
  .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 62em) {
  .container {
    width: 992px;
    margin-left: auto;
    margin-right: auto; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4,
  .col-md-5, .col-md-6, .col-md-7, .col-md-8,
  .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 75em) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
  .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
  .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.sey-container {
  display: none;
  position: absolute;
  box-shadow: 1px 2px 6px;
  background-color: #fff;
  color: #333;
  transition: left 0.1s ease-in-out;
  z-index: 1; }

.sey-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.sey-show {
  display: block; }

.sey-hide {
  display: none; }

.sey-empty {
  cursor: default;
  padding: 7px; }

.sey-item {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px; }

.sey-item:hover {
  background-color: #444;
  color: #fff; }

.sey-selected {
  background-color: #333;
  color: #fff; }

.sey-char-highlight {
  font-weight: bold; }

.sey-category-id {
  background-color: #eee;
  color: #aaa;
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: 12px;
  box-shadow: 1px 0px 1px;
  padding: 7px; }

.modal1_bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9000; }

.modal1_container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f5f3da;
  border: 1px solid #c32349;
  z-index: 9001; }

.modal1_close {
  color: #fff;
  float: right;
  background-color: #000; }

@media (min-width: 20em) {
  .modal1_bg {
    height: 100%; }
  .modal1_container {
    width: 90%; } }

@media (min-width: 37.5em) {
  .modal1_container {
    width: 50%; } }

.home_featured_icon img {
  height: 110px; }

.home_featured_icon .featured_icon_category {
  font-size: 12px;
  font-size: 0.75rem;
  margin: 4px 0 4px 0;
  /* trbl */ }

.home_fi_container {
  padding: 4px 4px 0 4px;
  /* trbl */ }

.home_carousel_container {
  padding: 4px 4px 0 0;
  /* trbl */ }

.home_ic_selector {
  padding: 4px 4px 4px 0;
  /* trbl */ }

.home_carousel_container h2,
.home_fi_container h2,
.home_news_container h2 {
  border-bottom: 1px dotted #87937b; }

.home_ic_selector h2 {
  border-bottom: 1px dotted #87937b; }

.home_cat_icons .icon_holder {
  border: 1px solid #c32349; }

.home_commit_fetcher {
  height: 100%;
  word-wrap: break-word;
  padding-bottom: 10px; }
  .home_commit_fetcher p {
    font-size: 12px;
    font-size: 0.75rem; }
  .home_commit_fetcher li {
    margin-bottom: 6px; }
  .home_commit_fetcher .commit_fetcher_sha {
    background-color: #f5f3da;
    color: #000; }

a:hover {
  text-decoration: none; }

.ic_container {
  border-left: 1px solid #000;
  border-right: 1px solid #000; }

.spreader {
  border-bottom: 1px solid #fff; }

.spreader2 {
  border-top: 1px solid #fff; }

.main_header,
.main_footer {
  background-color: #555; }

.home_cat_icons .icon_holder {
  background-color: #f5f3da; }

.svgpker .ic_tophover {
  height: 30px; }

@media (min-width: 30em) {
  .svgpker .ic_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px; } }

.svgpker .ic_iconbox {
  word-wrap: break-word; }
  .svgpker .ic_iconbox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px; }
  .svgpker .ic_iconbox > div {
    background-color: #f5f3da;
    border: 1px solid #c32349; }
  .svgpker .ic_iconbox .ic_toggle {
    margin-left: 4px; }

.svgpker .ic_listview {
  border-bottom: 1px solid #fff; }
  .svgpker .ic_listview .ic_list_iconbox {
    height: 64px;
    background-color: #f5f3da;
    border: 1px solid #c32349; }
    .svgpker .ic_listview .ic_list_iconbox img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 40px; }
  .svgpker .ic_listview .ic_listview_details {
    position: relative;
    padding-left: 4px;
    background-color: #666; }
  @media (min-width: 30em) {
    .svgpker .ic_listview .ic_listview_details,
    .svgpker .ic_listview .ic_listview_svg {
      height: 82px; } }

.svgpker .ic_filter-controls {
  vertical-align: middle; }
  .svgpker .ic_filter-controls p {
    display: inline-block; }
  .svgpker .ic_filter-controls img {
    background-color: #f5f3da;
    border: 1px solid #c32349;
    height: 24px;
    vertical-align: text-bottom;
    cursor: pointer; }
  .svgpker .ic_filter-controls .ic_gridlist_toggle {
    margin-left: 6px;
    vertical-align: text-bottom; }

.svgpker .ic_btn {
  padding: 0px 6px 0px 6px;
  /* trbl */
  border: 1px solid #666;
  background: #999;
  color: #fff;
  cursor: pointer; }
  .svgpker .ic_btn:hover {
    background-color: #000; }

.svgpker input[type=text],
.svgpker textarea {
  color: #000;
  border: 1px solid #666;
  background-color: #ccc; }

.svgpker .ic_favorites_badge {
  padding: 2px 4px 2px 4px;
  /* trbl */
  border-radius: 2px; }

.svgpker .ic_breadcrumb p {
  display: inline-block; }

.svgpker .bc_search_container,
.svgpker .ic_cattype_container,
.svgpker .pg_container,
.svgpker .ic_pg_container {
  margin-left: 4px;
  margin-right: 4px; }

.svgpker .jpages_pg-holder {
  background-color: green; }

.svgpker .ic_category_select p {
  display: inline-block; }

.svgpker .ic_search input {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIj48cGF0aCBkPSJtMyAyMGw5LTgiIHN0cm9rZS13aWR0aD0iMyIvPjxwYXRoIGQ9Im0yMCA3LjVhNC41IDQuNSAwIDEgMSAtOSAwIDQuNSA0LjUgMCAxIDEgOSAweiIgdHJhbnNmb3JtPSJtYXRyaXgoMS4yMjIyMiAwIDAgMS4yMjIyMi0zLjQ0NC0uNjY3KSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuODk1Ii8+PC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  padding-left: 20px; }

.favorites_list_title p {
  display: inline-block;
  margin-left: -4px; }

.favorites_list_title button {
  float: right; }

.favorites_category {
  margin-bottom: 4px; }

.fav_ic_iconbox:hover .ic_tooltip {
  visibility: visible; }

.fav_ic_holder {
  background-color: #f5f3da;
  border: 1px solid #c32349; }

body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  @media (min-width: 20em) {
    body:before {
      content: "mobile \2265   320px (20em)"; } }
  @media (min-width: 30em) {
    body:before {
      content: "mobileLandscape \2265   480px (30em)"; } }
  @media (min-width: 37.5em) {
    body:before {
      content: "smallTabletPortrait \2265   600px (37.5em)"; } }
  @media (min-width: 50em) {
    body:before {
      content: "smallTabletLandscape \2265   800px (50em)"; } }
  @media (min-width: 46.25em) {
    body:before {
      content: "tabletPortrait \2265   740px (46.25em)"; } }
  @media (min-width: 64em) {
    body:before {
      content: "tabletLandscape \2265   1024px (64em)"; } }
  @media (min-width: 62em) {
    body:before {
      content: "desktop \2265   992px (62em)"; } }
  @media (min-width: 75em) {
    body:before {
      content: "wide \2265   1200px (75em)"; } }

[class|="col"] {
  position: relative;
  min-height: 1px;
  border: 1px solid #000; }
