.svgpker {
  .ic_tophover {
  height: 30px;
  }

  // centered main icon holder
  // *mobile landscape (480x320)
  @include mq($from: mobileLandscape) {
    .ic_container {
      @include center-block;
      width: 600px;
    }
  }

  .ic_tooltip {
    @extend %text--center;
    @extend %hidden;
  }

  .ic_iconbox {
    @extend %padd--4;
    @extend %pos--relative;
    word-wrap: break-word;
    // background-color: #ccc;
    // height: 84px;

    img {
      @include center-block;
      @extend %pos--relative;
      @extend %margin_top--4;
      @extend %margin_bottom--4;
      height: 40px;
    }

    >div {
      background-color: #f5f3da;
      border: 1px solid #c32349;
    }

    .ic_toggle {
      @extend %icon_holder_text;
      margin-left: 4px;
    }

    &:hover .ic_tooltip {
      @extend %visible;
    }
  }


  .ic_listview {
    @extend %padd--4;
    @extend %bg--secondary;
    border-bottom: 1px solid #fff;
    
    .ic_list_iconbox {
      @extend %padd--4;
      @extend %pos--relative;
      height: 64px;
      background-color: #f5f3da;
      border: 1px solid #c32349;
      
      img {
        @include center-both;
        @extend %pos--relative;
        height: 40px;
      }
    }

    .ic_list_id {
      @extend %padd--4;
      @extend %font--bold;
    }

    .ic_listview_details {
      position: relative;
      padding-left: 4px;
      background-color: #666;
    }

    // mobile portrait (320x480) 
    @include mq($from: mobile) {
      
    }
    
    // *mobile landscape (480x320)
    @include mq($from: mobileLandscape) {
      .ic_listview_details,
      .ic_listview_svg {
        height: 82px;
      }
    }
    
    

    button {
      @extend %margin_top--4;
    }
  }

  .ic_filter-controls {
    @extend %padd--4;
    @extend %pos--relative;
    @extend %display--inline-block;
    vertical-align: middle;
    // background-color: #ccc;

    p {
      display: inline-block;
    }

    img {
      @extend %display--inline-block;
      background-color: #f5f3da;
      border: 1px solid #c32349;
      height: 24px;      
      vertical-align: text-bottom;
      cursor: pointer;
    }  

    .ic_gridlist_toggle {
      @extend %display--inline-block;
      margin-left: 6px;
      vertical-align: text-bottom;
    }  
  }  

  .ic_btn {
    padding: 0px 6px 0px 6px; /* trbl */
    border: 1px solid #666;
    background: #999;  
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #000;
    }
  }

  input[type=text],
  textarea {    
    color: #000;
    border: 1px solid #666;
    background-color: #ccc;
  }

  .ic_favorites {
    @extend %padd--4;
  }

  .ic_favorites_badge {
    @extend %display--inline-block;
    padding: 2px 4px 2px 4px; /* trbl */
    border-radius: 2px;
    
    p {
        @extend %font--bold;
      }
    }

  .ic_breadcrumb {
    @extend %padd--4;
    @extend %bg--secondary;
    p {
      display: inline-block;
      }
    }

  .bc_search_container,
  .ic_cattype_container,
  .pg_container,
  .ic_pg_container {
    @extend %bg--secondary;
    @extend %margin_bottom--4;
    margin-left: 4px;
    margin-right: 4px;
  }

  .ic_category_select {
    @extend %padd--4;

    p {
      display: inline-block;
    }
  }

  .ic_search {
    @extend %padd--4;

    input {
      background: url(../../img/icons/ui/search1.svg);
      background-repeat: no-repeat;
      padding-left: 20px;
    }

    label {
      @extend %font_color--primary;
    }
  }

  .jpages_pg {
    @extend %padd--4;
  }
}