.favorites_list_title {
  p {
    display: inline-block;
    margin-left: -4px;
  }

  button {
    float: right;
  }
}

.favorites_category {
  margin-bottom: 4px;
}

.fav_ic_iconbox {
  @extend %padd--4;
}

.fav_ic_iconbox:hover .ic_tooltip {
  visibility: visible;
}

.fav_ic_holder {
  background-color: #f5f3da;
  border: 1px solid #c32349;

  img {
      @include center-block;
      @extend %pos--relative;
      @extend %margin_top--4;
      @extend %margin_bottom--4;
      height: 40px;
    }
}

