@include sk-folding-cube;

body {
  @extend %system_normal--300;
}

.home_cat_selector,
.home_cat_icons > div,
.home_featured_icon {
  @extend %padd--4;
}

.home_preloader {
  @include center-both;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg); 

  > div {
    background: url('../../img/icons/unsorted/noborders_transpa1.svg');
    
  }

}

.header_logo_container {
  @extend %padd--4;
}
