body {
  @extend %bg--main;
  @extend %system_normal--300;
  @extend %pos--relative;
}

.home_featured_icon {
  @extend %padd--4;

  img {
    @extend %margin--auto;
    @extend %display--block;    
    height: 110px;
  }

  img,
  p {
    @extend %text--center;
  }

  .featured_icon_category {
    @include font-size(12px);
    margin: 4px 0 4px 0; /* trbl */
  }
}

.home_carousel,
.header_logo_container,
.home_news_container,
footer {
  @extend %padd--4;
}


.home_fi_container {
  padding: 4px 4px 0 4px; /* trbl */
}

.home_carousel_container {
  // remove left padding
  padding: 4px 4px 0 0; /* trbl */
}

.home_ic_selector {
  // remove left padding
  padding: 4px 4px 4px 0; /* trbl */
}

.home_carousel_container h2,
.home_fi_container h2,
.home_news_container h2 {
  @extend %font--bold;
  @extend %margin_bottom--4;
  @extend %padd_bottom--4;
  border-bottom: 1px dotted #87937b;
 
}

.home_ic_selector h2 {
  @extend %font--bold;
  @extend %margin--4;
  @extend %padd_bottom--4;
  border-bottom: 1px dotted #87937b;
  
}

.home_cat_icons {
  img {
    @extend %margin_top--4;
    @extend %link_color;
  }
}

.home_cat_icons {
  .icon_holder {
    @extend %padd--4;
    @extend %bg--extra1;
    @extend %margin--4;    
    border: 1px solid #c32349;
  }
}

.home_commit_fetcher {
  @extend %padd--4;
  height: 100%;
  word-wrap: break-word;
  padding-bottom: 10px;

  p {
    @include font-size(12px);
  }

  li {
    @extend %margin_top--4;
    margin-bottom: 6px;
    @extend %padd_bottom--4;
  }

  .commit_fetcher_sha {
    @extend %display--inline-block;
    background-color: #f5f3da;
    color: #000;
  }

  .commit_fetcher_message {
    @extend %display--inline;
  }
}

// home colors
// ==================================================/
h2 {
  @extend %font_color--h2;
}

a {
  @extend %link_color;
  &:hover {
    @extend %link_color--hover;
    text-decoration: none;  
  }
}

p,
small {
  @extend %font_color--primary;
}

.ic_container {
  @extend %bg--primary;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.spreader,
.spreader2 {
  @extend %bg--primary;
}

.spreader {
  border-bottom: 1px solid #fff;
}

.spreader2 {
  border-top: 1px solid #fff;
}

.main_header,
.main_footer {
  background-color: #555;
}

.home_featured_icon,
.home_commit_fetcher,
.home_cat_icons,
.home_carousel {
  @extend %bg--secondary;
}

.ic_favorites_badge {
  @extend %color--pink;
  p {
    @extend %link_color--hover;
  }
}

.home_cat_icons {
  .icon_holder {
    @extend %font_color--h2;

    p {
      @extend %icon_holder_text;
    }
  }
}