%bg--main {
  background-color: #1e1e1e;
}

%bg--primary {
  background-color: #262626;
}

%bg--secondary {
  background-color: #4b4b4b;
}

%bg--extra1 {
  background-color: #ccc;
}

body {
  @extend %bg--main;
}

.ic_container {
  @extend %bg--primary;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.spreader,
.spreader2 {
  background-color: #262626;
}

.spreader {
  border-bottom: 1px solid #fff;
}

.spreader2 {
  border-top: 1px solid #fff;
}

.main_header,
.main_footer {
  background-color: #555;
}

.home_stage,
.home_news_categories {
  // border-left: 1px solid #000;
  // border-right: 1px solid #000;
}

.home_featured_icon,
.home_commit_fetcher,
.home_cat_icons,
.home_carousel {
  @extend %bg--secondary;
}

h2 {
  color: #f5f3da;
}

a {
  color: #d1d4b9;
  &:hover {
    color: #fff;
    text-decoration: none;  
  }
}

p,
small {
  color: #d8d8d8;
}

.ic_favorites_badge {
  background-color: #c32349;
  p {
    color: #fff;
  }
}

.home_cat_icons {
  .icon_holder {
    background-color: #f3f5da;

    p {
      color: #3b443f;
    }
  }
}